sam/config/machines.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Machines">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Machine">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="HostName" type="xs:string" />
              <xs:element name="Address" type="xs:string" />
              <xs:element name="Trys" type="xs:unsignedByte" />
              <xs:element name="Delay" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>